@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #36454f;
  overflow-x: hidden;
}

#header {
  display: grid;
  margin: auto;
  text-align: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

